<!-- Landing Page -->

{% extends 'base.html' %}

{% block content %}

<!--Flask Flashed Messages to User-->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'user-created'%}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                    </div>
                {% elif cat == 'auth-success' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's Build the Recreational Vehicle of Your Dreams!</h2>
            <br>
            <h5>Pick out and customize a vehicle of your choice from a list of well known makes and models!</h5>
            <div>
                <button class="btn btn-primary">Our Vehicles</button>
                <button class="btn btn-primary">Join Our Network</button>
            </div>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_off_road_9oae.svg" alt="Offroad Logo" class="header-image">
        </div>
    </header>
    <!-- End of Header Section -->

<hr class='1'>
    <!-- Start Middle Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_factory_dy0a.svg" alt="factory Logo" class="header-image">
        </div>
        <div class="col-12 col-md-6" id="header-text">
            <h2>Buy Your Customized Vehicle</h2>
            <br>
            <h6>You can trust us to build the right vehicle for your outdoor activity of choice!</h6>
            <h6>We take all of your custom specifications and create the vehicle you desire.</h6>
            <h6>You can choose from our list of nationwide vendors.</h6>
            <div>
                <button class="btn btn-primary">Our Factory Process</button>
            </div>
        </div>
    </section>
    <!-- End of Middle Section -->

<hr>
    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_Vehicle_sale_a645.svg" alt="Vehicle Image" id="vehicles-img">
            <h4>Well Known Vehicle Makes</h4>
            <p>Choose from our list of popular vehicles of all makes and models</p>
            <p>You can also choose from a wide variety of vehicle parts</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_Mobile_pay_re_sjb8.svg" alt="payment-image" id="payment-img">
            <h4>Paying Your Bill Hasn't Been Easier</h4>
            <p>Download our App to easily access your account and make a payment!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_navigator_a479.svg" alt="testing image" id="testing-img">
            <h4>Exceptional Testing Services and Facility</h4>
            <p>Once your vehicle is built, we conduct extensive testing to ensure it performs to your standards.</p>
        </div>

    </section>
    <!-- End Collection of Features Section -->
<hr>
    <!-- Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_online_transactions_02ka.svg" alt="Drone Image" id="Drone-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Join our Nationwide Network of Vehicles 🚙🌎</h4>
            <br>
            <p>
                Download our App to communicate and share your experiences with our customers from across the country!
            </p>
            <div>
                <button class="btn btn-primary">View Our Vehicles</button>
                <button class="btn btn-primary">Join Our Network</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->

<hr>
    <!-- Start of Footer Section -->
    <footer class="row" id="footer">
        <div class="col-3 col-md-3">
            <img src="../../static/images/logo.jpg" alt="Truck Logo" id="footer-logo">
        </div>

        <div class="col-3 col-md-3">
            <div class="footer-text-flex">
                <h4>Our Values</h4>
                <p>Committed to Customer Service</p>
                <p>Give to Local Cherities</p>
                <p>Build the Best Vehicles</p>
                <p>Implement Superior Processes</p>
                <p>Give Great Feedback</p>
            </div>
        </div>
        <div class="col-3 col-md-3">
            <div class="footer-text-flex">
                <h4>Our Customers</h4>
                <p>Continued Support for Customers</p>
                <p>Follow Up After Delivery</p>
                <p>Connect our Network</p>
                <p>Help our Customers</p>
                <p>Customer Feedback</p>
            </div>
        </div>
        <div class="col-3 col-md-3">
            <div class="footer-text-flex">
                <h4>Contact</h4>
                <p>NWOffRoad@test.com</p>
                <p>555-555-5555</p>
                <p>1234 Street Ave.</p>
                <p>Seattle, WA 12345</p>
                <p>Instagram</p>
            </div>
        </div>
    </footer>
    <!-- End of Footer Section -->
</div>

{% endblock content %}